<!DOCTYPE html>
<html>
<head>
<title>About</title>
<!--bootstarp-css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--/bootstarp-css -->
<!--css-->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--/css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="PETCARE Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/hover.css" rel="stylesheet" media="all">
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<!--/fonts-->
<script src="js/jquery.min.js"></script>
</head>
<body>

<!--about-->
<div class="about">
	<div class="container">
				<div class="about-top">
					<div class="about-top-info">
							<h3>About</h3>
							<div class="col-md-4 about-img">
								<img src="assets/pic8.jpg" alt=""/>
							</div>
							<div class="col-md-8 about-desc">
								<p>In Ireland, I found that many people keep pets and then I think that something about pets can attract many attentions. As a student whose major is Software Systems Development, I want to create an application called Pet World. It can help people to find the mates for their pets and sell or buy pets.
									  <span>（1）If your dog want to breed, you can post the dog's details and search the other dog who wants to breed.<br>
									  （2）If you want to sale a dog, you can post the dog. But if you want to buy a dog, you can find the dog what you want.</span>
									 
									
									</p>
								
							</div>
							<div class="clearfix"> </div>
					</div>
			</div>
			<div class="about-bottom">
						<div class="about-topgrid1">
							<h3>Who We Are</h3>
					<div class="col-md-8 about-bottom-info">
							   <h5>HAN NI, SOFTWARE SYSTEM DEVELOPMENT. WATERFORD INSTITUTE OF TECHNOLOGY.</h5>
							   <p>This is my final year project.</p>
							   
					</div>
						<div class="col-md-4 about-bottom-info-right">
						 <img src="assets/pic9.jpg" alt="" />
						 </div>
						 <div class="clearfix"> </div>
					</div>
					</div>
					 <div class="clearfix"> </div>
		</div>
</div>
<!--/about-->
<div class="aboutus">
  <div class="container">
    <div class="about-bottom-info">
      <div class="col-md-6 about-left">
        <div class="col-md-6 check-in">
          <img src="assets/dg-4.png" alt=""/>
        </div>
      <div class="col-md-8 check-out">
      	<br>
      	<br>
        <h4>DOG FOR BREEDING</h4>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 about-left">
      <div class="col-md-6 check-in">
        <img src="assets/dg-5.png" alt=""/>
      </div>
      <div class="col-md-8 check-out">
      	<br>
      	<br>
        <h4>DOG FOR SALE</h4>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--/about-->

	</body>
</html>