<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!--bootstarp-css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--/bootstarp-css -->
<!--css-->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--/css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Petcare Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/hover.css" rel="stylesheet" media="all">
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<!--/fonts-->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      $("#slider2").responsiveSlides({
        auto: true,
        pager: true,
        speed: 300,
        namespace: "callbacks",
      });
    });
  </script>
</head>
<body>
<div class="header-banner">
   <div class="slider">
	    <ul class="rslides" id="slider2">
	      <li><a href="#"><img src="assets/4.jpg" class="img-responsive" alt=""/></a></li>
	      <li><a href="#"><img src="assets/2.jpg" class="img-responsive" alt=""/></a></li>
	      <li><a href="#"><img src="assets/3.jpg" class="img-responsive" alt=""/></a></li>
	    </ul>
    </div>
</div>

<!--dogs-food-->
<div class="dogs-food">
	<div class="container">
		<div class="dogs-food-top-info">
		<div class="dogs-food-top">
			
			<div class="col-md-6 dogs-food-info">
				<br>
				<img src="assets/dg-5.png">
				<h4>DOGS FOR BREEDING</h4>
				<p>If your dog want to breed, you can post the dog's details and search the other dog who wants to breed.</p>
					<a class="dogs-top-food" href="http://localhost:3000/breeders">More</a>
			</div>
				<div class="col-md-6 dogs-food-info">
					<br>
					<img src="assets/dg-4.png">
					<h4>DOGS FOR SALE</h4>
					<p>If you want to sale a dog, you can post the dog. But if you want to buy a dog, you can find the dog what you want.</p>
						<a class="dogs-top-food" href="http://localhost:3000/products">More</a>
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--/dogs-food-->

<!--doctor-self-->
<div class="doctor-self">
	<div class="container">
		<div class="doctor-self-info">
			<a  href="http://localhost:3000/about"><h3>About</h3></a>
			<div class="doctor-self-info-bottom">
				<div class="col-md-4 doctor-self-left">
					<img src="assets/5.jpg" class="img-responsive" alt=""/>
					<h4>Han Ni</h4>
					<h5>Software System Development</h5>
				</div>
				<div class="col-md-8 doctor-self-right">
					<p>In Ireland, I found that many people keep pets and then I think that something about pets can attract many attentions. As a student whose major is Software Systems Development, I want to create an application called Pet World. It can help people to find the mates for their pets and sell or buy pets.
						

					</p>
				</div>
				<div class="clearfix"> </div>
				</div>
		</div>
	</div>
</div>
<!--/doctor-self-->

<!--daily-updates-->
<div class="daily-updates">
	<div class="container">
		<div class="daily-updates-info">
		<h4>SUBSCRIBE FOR DAILY UPDATES</h4>
		<form>
			
					 <input type="text" class="text" value="EMAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}">
					 <input type="submit"value="SUBMIT">
		 	</form>
		 	<p>FOR HELP<span><a href="mailto:nihan1994@163.com">nihan1994@163.com</a></span></p>
		 	</div>
	</div>
</div>
<!--/daily-updates-->

<!--contact-->
<div class="contact">
	<div class="container">
		<div class="contact-info">
			<a  href="http://localhost:3000/contact"><h4>CONTACT-US</h4></a>
			<p>If you have some problems, you can contact us.</p>
		</div>
		<form>
						 <input type="text" class="text" value="NAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'NAME';}">
						 <input type="text" class="text" value="EMAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}">
						 <textarea onfocus="if(this.value == 'MESSAGE') this.value='';" onblur="if(this.value == '') this.value='MESSAGE';" >MESSAGE</textarea>	
						 <div class="clearfix"> </div>
						 <br>
						 <br>

						 <a class="about-bottom-info-button" href="mailto:nihan1994@163.com">SUBMIT</a>
						 
					</form>

	</div>
</div>
<!--/contact-->

</body>
</html>